.completed {
  text-align: center;
}

.completed__stat {
  margin: 1rem;
}

.completed__stat-label {
  font-size: 1rem;
  font-style: italic;
}

.completed__stat-value {
  font-size: 2rem;
  font-weight: bold;
}

.completed__button {
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  background: #1d3c78;
  color: white;
  font-size: 1.2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
}

.completed__button:hover {
  background: #18346d;
  transform: scale(1.01);
}
